<br>
<br>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h2>Resultados para <i>"<%= @busqueda %>"</i></h2>
	</div>

	<div class="panel-body">
		
		<br>
		<h4 class="h4class"  style="color: wheat">Usuarios encontrados: <%= @rusuarios.size %></h4>
		<% if @rusuarios.size > 0 %>
			<%= @rusuarios.each do |usuario|  %>
				<p><%= usuario.nombre_completo %>.<%= link_to "/#{usuario.nickname}" do %>
					(<%= usuario.nickname %>)
					<% end %>
				</p>
				<hr>
			<% end %>
		<% end %>

		<br>
		<h4 class="h4class" style="color: wheat">Posts encontrados: <%= @rposts.size %></h4>
		<% if @rposts.size > 0 %>
			<%= @rposts.each do |post|  %>
				<%= link_to post do %>
					<h5><%= post.titulo %>.</h5>
				<% end %>
				
				<p><small><%= content_with_emoji(truncate(post.contenido.html_safe, :length => 250)) %></small></p>
				<% if (post.contenido.length > 250) %>
				  <%= link_to "Ver más", post%>
				<% end %>
				<hr>
			<% end %>
		<% end %>
	</div>

	<div class="panel-footer">
		<!--%= will_paginate @rposts, renderer: BootstrapPagination::Rails %-->
	</div>
</div>