
<div class="container-fluid perfil">
<!-- Heading Row -->    
        <div class="row">
            <div class="col-md-8">
                <%= image_tag("900x350.png", :alt => "Portada Default", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1><%= @usuario.nombre_completo %><small> <%= @usuario.nickname %></small></h1>
                <hr>
                <!-- Descripción corta del perfil... Maximo 300 caracteres -->
                <p>
                Aquí podrás escribir una descrición corta de ti, tu perfil o poner simplemente lo que tú quieras! Recuerda que esto será visible a todas aquellas personas que visiten tu perfil.
                </p>
                <p>
                ☯Sic parvis magna☯
                </p>
                <a class="btn btn-primary btn-md" href="#">Seguir contenido</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Quote de Perfil-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary text-center">
                    <div class="panel-body">
                    <p>La grandeza proviene de pequeños comienzos.</p>
                    <cite>Sir Francis Dake.</cite>
                </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Heading 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Heading 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    <!-- /.container -->
</div>

        <hr>


<% if @posts%>
<div class="row marketing">
<% @posts.each do |post| %>
  <div class="col-lg-6 clearfix">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">
      <%= link_to post do%>
        <h4><%= post.titulo %></h4>
      <% end %>
        <!--code><%= time_ago_in_words(post.created_at) %> ago</code> por <strong><%= post.usuario.nickname%></strong-->
        <code>Hace <%= time_ago_in_words(post.created_at) %></code> por <strong><%= link_to post.usuario.nickname, post.usuario.nickname %></strong>
      </div>
      <div class="panel-body">
        <p><%= truncate(post.contenido.html_safe, :length => 250) %></p>
          <% if (post.contenido.length > 250) %>
            <%= link_to "Ver más", post%>
          <% end %>
      </div>
      <div class="panel-footer">
      <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Me gusta</a>
      <% if usuario_signed_in? %>
        <% if post.usuario_id == current_usuario.id %>
          <%= link_to edit_post_path(post) do%> 
            <i class="fa fa-pencil"> Editar</i>
          <% end %>
          <%= link_to post, method: :delete, data: {confirm: "¿Estás seguro de borrar este post?"} do %>
            <i class="fa fa-trash"> Eliminar</i>
          <% end %>
        <% end %>
      <% end %>
      <span class="pull-right"><i class="fa fa-diamond" aria-hidden="true"> <%= post.likes%></i><span>
      </div>
        </div>
      </div>
    <% end %>
</div>
<%= will_paginate @post %>
<div class="clearfix visible-sm-block"></div>
<%end%>