<div class="container-fluid perfil">
<!-- Heading Row -->    
        <div class="row">
            <div class="col-md-8">
                <%= image_tag("900x350.png", :alt => "Portada Default", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1><%= @usuario.nombre_completo %><small> <%= @usuario.nickname %></small></h1><br>
                <span class="usuario-datos">
                  <%=  @usuario.created_at.strftime("Usuario desde: %d/%m/%Y")%><br>
                  <i class="fa fa-commenting-o" aria-hidden="true"></i> Post creados: <%=  @usuario.posts.count %><br>
                  <i class="fa fa-users" aria-hidden="true"></i> Seguidores: <%=  @usuario.posts.count %><br>
                </span>
                <%= link_to home_path, class: "btn btn-small btn-primary" do %>
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> Seguir                
                <% end %>
                <!--a class="btn btn-primary btn-md" href="#">Seguir contenido</a-->
                <hr>
                <!-- Descripción corta del perfil... Maximo 300 caracteres -->
                <p>
                Aquí podrás escribir una descrición corta de ti, tu perfil o poner simplemente lo que tú quieras! Recuerda que esto será visible a todas aquellas personas que visiten tu perfil.
                </p>
                <p>
                ☯Sic parvis magna☯
                </p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Quote de Perfil-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info text-center">
                    <div class="panel-body">
                    <p>La grandeza proviene de pequeños comienzos.</p>
                    <cite>Sir Francis Dake.</cite>
                </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Heading 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Heading 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    <!-- /.container -->
</div>



    <!-- Compartir -->
      <div class="row">
        <div class="col-md-12">
            <div class="widget-area no-padding blank">
            <div class="status-upload">
              <form>
                <textarea placeholder="¿Qué estás haciendo ahora?" ></textarea>
                <ul>
                  <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                  <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                  <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                  <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                </ul>
                <button type="submit" class="btn btn-primary green"><i class="fa fa-share"></i> Compartir</button>
              </form>
            </div><!-- Status Upload  -->
          </div><!-- Widget Area -->
        </div>  
      </div>
      <!-- End Compartir -->

        <hr>


<% if @posts.size>0 %>
<div id="bodypost" class="row marketing">
<% @posts.each do |post| %>
  <div class="col-lg-6 clearfix">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">
          <% if usuario_signed_in? %>
              <% if post.usuario_id == current_usuario.id %>
              <div class="row container-fluid">
                <div class="pull-right">
                  <div class="dropdown">
                      <i class="fa fa-cogs  dropdown-toggle" id="post-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"">
                        <span class="caret"></span>
                      </i>
                    <ul class="dropdown-menu post-actions" aria-labelledby="post-actions">
                      <li>                              
                        <%= link_to edit_post_path(post) do%> 
                          <i class="fa fa-pencil"> Editar</i>
                        <% end %>
                      </li>
                      <!--li role="separator" class="divider"></li-->
                      <li>                              
                        <%= link_to post, method: :delete, data: {confirm: "¿Estás seguro de borrar este post?"} do %>
                          <i class="fa fa-trash"> Eliminar</i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>            
              <% end %>
          <% end %>
          </div>
          <div class="row container-fluid post">
            <%= link_to post do%>
              <h4><%= post.titulo %></h4>
            <% end %>
            <br>
              <div class="pull-left">
                Hace <%= time_ago_in_words(post.created_at) %> por <%= link_to "/#{post.usuario.nickname}" do%>
                <%= post.usuario.nombre_completo%>
                <% end %>
              </div>  
          </div>
        <!--code>< %= time_ago_in_words(post.created_at) %> ago</code> por <strong>< %= post.usuario.nickname%></strong-->
        <!--code>Hace < %= time_ago_in_words(post.created_at) %></code> por <strong>< %= link_to post.usuario.nickname, post.usuario.nickname %></strong-->
      </div>
          <div class="panel-body">
            <p><%= truncate(post.contenido.html_safe, :length => 250) %></p>
              <% if (post.contenido.length > 250) %>
                <%= link_to "Ver más", post%>
              <% end %>
          </div>
          <div class="panel-footer">
            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Me gusta</a>
            
            <% if !post.likes.nil? %>
              <% if post.likes > 0 %>
                <span class="pull-right"><i class="fa fa-diamond" aria-hidden="true"> <%= post.likes%></i><span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
</div>
<%= will_paginate @posts %>
<!--div class="clearfix visible-sm-block"></div-->
<% else %>
  <div class="center">
    <div class="panel panel-primary">
      <div class="panel-body">
        <i class="fa fa-frown-o" aria-hidden="true"></i> Aún no tienes post, crea uno <%= link_to "Crear post", new_post_path, class: "btn btn-primary" %>        
      </div>
    </div>
  </div>
<%end%>