<!-- si se esta registrado se vera el slide pero dentro del yield(dentro de la pagina a la que se invoca, solo en la de inicio) -->
<%= render 'layouts/cbslide' if usuario_signed_in? %>

<!-- Sección Artículos -->
<section class="row col-xs-12 articles">
    <% cont = 1 %>
    <% @iarticulos.each do |articulo| %>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 divcol">
        <%= link_to "http://#{ApplicationRecord::RUTA}/articulos/#{articulo.url}" do %><h3><%= articulo.titulo %></h3><% end %>
        <div class="content">
            <p>
              <%=raw articulo.intro %>
            </p>
            <%= link_to "http://#{ApplicationRecord::RUTA}/articulos/#{articulo.url}" do %><%= image_tag(articulo.imagen_previa, class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %><% end %>
            <br />
            <pre><i class="fa fa-user-circle-o"></i> <b><%= articulo.usuario.nickname %></b> | <i class="fa fa-diamond"> <%= articulo.like %> </i></pre>
        </div>
    </div>
      <% if (cont % 2) == 0 && cont!=6 %>
        <div class="clearfix visible-sm-block"></div>
      <% elsif (cont % 3) == 0 %>
        <div class="clearfix visible-lg-block"></div>
      <% elsif (cont % 6) == 0 %>
        <div class="clearfix visible-lg-block"></div>
      <% end %>
      <% cont = cont + 1 %>
    <% end %>
<!-- /Sección Artículos -->
</section>              