
<br>
<!-- si se esta registrado se vera el slide pero dentro del yield(dentro de la pagina a la que se invoca, solo en la de inicio) -->
<%= render 'layouts/cbslide' if usuario_signed_in? %>
<!-- Sección Artículos -->
            <section class="row col-xs-12 articles">
                <div class="col-xs-12 col-sm-6 col-md-4 divcol">
                    <a href = "#"><h3>HTML5 / CSS3</h3></a>
                    <div class="content">
                        <p>
                        ¿Qúe estás esperando? Comienza a introducirte al mundo de HTML5 y CSS3,
                        ambos lenguajes son escenciales hablando de las páginas web y de todo 
                        a lo que el mundo del internet se refiere. <br/> <br/>Cada vez son más y más sitios
                        web los que están inovando la forma en que muestran sus contenidos a todo
                        el mundo y es por eso que si tú estás interesado en adentrarte al mundo 
                        del Desarrollo Web, esta introducción te llenará del conocimiento básico 
                        para que puedas ir conociendo estos dos lenguajes. <br/> <br/>
						¡Haz clic en el enlace y comienza a aprender!
                        <br/>
                        
                        </p>
                        <%= image_tag("html5css3.jpg", :alt => "HTML5/CSS3", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-4 divcol">
                    <a href = "#"><h3 class="bg-info">1a App con Ruby on Rails</h3></a>
                    <div class="content">
                        <p>
                        Ruby on Rails es un popular Framework para el Desarrollo de aplicaiones web,
                        el cual está diseñado para optimizar el tiempo y esfuerzo que los programadores
                        tienen que dedicar para poder crear alguna función en específico.<br/><br/>
                        RoR (por sus siglas Ruby on Rails) es hoy por hoy sin duda alguna una herramienta
                        que nos ha facilitado la vida con su arquitectura MVC por lo que mucha gente lo está
                        utilizando.
                        </p>
						Realizaremos paso a paso la creación de una aplicación utilizando RoR<br/><br/>
                        Dale clic al enlace para conocer más de esta plataforma de Desarrollo
                        y te puedo asegurar que con lo que leerás no dejaras de querer seguir 
                        aprendiendo más de este fabuloso framework.<br/>
                        <%= image_tag("ror.jpg", :alt => "RubyOnRails", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
                    </div>
                </div>

                <div class="clearfix visible-sm-block"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 divcol">
                    <a href = "#"><h3>CRUD web con Java</h3></a>
                    <div class="content">
                        <p>
                        Aprende a crear un sencillo CRUD utilizando el framework Primefaces en su versión 5.0.
                        Es realmente muy sencillo de realizar y de personalizar.<br/><br/>
                        Utilizaremos una BD Postgres y un servidor de aplicaciones Apache Tomcat 8.
                        Entra en este tutorial y empieza a crear un sistema realmente funcional,
                        fácil de utilizar y más fácil aún de programar.<br/>
                        </p>
                        <%= image_tag("PrimeFaces-5e0eaabb0ad1751b7db0db7304982b58.png", :alt => "PrimeFaces", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
                    </div>
                </div>
                

                <div class="clearfix visible-lg-block"></div>

				<div class="col-xs-12 col-sm-6 col-md-4 divcol">
                    <a href = "/articulos/comparar-imagenes-con-juxtaposejs.html.erb"><h3>Comparar imágenes con JuxtaposeJS</h3></a>
                    <div class="content">
                        <p>
                        Si te gusta realizar comparaciones entre imágenes, ¡esta librería es perfecta para tí!
                        </p>
						<p>
						Con JuxtaposeJS puedes tomar dos archivos de imágen en el formato que desees y realizar una comparativa tipo "Antes-Después" y es una tarea realmente muy sencilla de realizar. 
						</p>
						<br/>
						<p>Y lo mejor de todo es que esta librería no tiene ningún costo, así que ¡empieza a utilizarla ya!<br/></p>
						<p>
						Entra al artículo y ve la fácil manera de hacer esto.
						</p>
                        <a href = "/articulos/comparar-imagenes-con-juxtaposejs.html.erb">
                            <%= image_tag("jslogo.png", :alt => "jQuery", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
                        </a>
                    </div>
                </div>
                

                <div class="clearfix visible-sm-block"></div>
                <div class="col-xs-12 col-sm-6 col-md-4 divcol">
                    <a href = "#"><h3>Tutorial de Ruby</h3></a>
                    <div class="content">
                        <p>
                        Si ya conoces este lenguaje sabras lo fácil que es programar en él, y si no, 
                        qué esperas para empezar a programar en Ruby, un lenguaje que cada vez va
                        teniendo mas auge entre la comunidad de desarrolladores.
						</p>
						<p>
                        Un lenguaje de Programación Orientado a Objetos el cuál es muy sencillo de
                        aprender, y recuerda que la mejor manera de saber programar, es ¡empezar a programar!
                        </p>
                        <%= image_tag("ruby-0893199b4b82c854b71c1738d336ee9d.jpg", :alt => "rubylang", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 divcol">
                    <a href = "#"><h3 class="bg-danger">Pruebas de Software</h3></a>
                    <div class="content">
                        <p>
                        En México, cada vez las Pruebas de Software están tomando más importancia dentro 
                        de las empresas que son fábricas de software o bien empresas que crean sus propias 
                        aplicaciones realizadas a su medida. Esto se debe a la gran importancia que tienen
                        las pruebas dentro del ciclo de vida de Desarrollo de un producto.<br/><br/>
                        El auge de las áreas de Testing nos beneficia en gran medida a los que navegamos 
                        diariamente por Internet o bien utilizamos algún producto o aplicación en nuestra
						computadora o celular ya que las pruebas realizadas a estos, hacen que tengamos una
						mejor experiencia y mayor satisfacción al utilizar las aplicaciones.
                        </p>
						<%= image_tag("lenguajes.jpg", :alt => "fuckU", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
                    </div>
                </div>

                <div class="clearfix visible-lg-block"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 divcol">
                    <a href = "#"><h3>Semántica HTML5</h3></a>
                    <div class="content">
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <%= image_tag("html5.jpg", :alt => "html5", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4 divcol">
                    <a href = "#"><h3 class="bg-info">FFXV: Episode Duscae</h3></a>
                    <div class="content">
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                        </p>
                        <%= image_tag("devsansf.jpg", :alt => "devsansf", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
                    </div>
                </div>

                
                <div class="clearfix visible-sm-block"></div>
                
                <div class="col-xs-12 col-sm-6 col-md-4 divcol">
                    <a href = "#"><h3>DLVNGN</h3></a>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/>
                        <%= image_tag("cara2.jpg", :alt => "cara2", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
                    </div>
                </div>
				
                <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
				
                <!-- Sección Games -->
                <div class="col-lg-offset-0 col-lg-12 row hidden-sm hidden-xs">
                        <div class="col-lg-12">
							<h2 class="page-header">¡El juego del Mes!</h2>
                        </div>
                        <div class="content col-md-6">
							<p>Dragon Ball Xenoverse 2 es el juego perfecto si eres fan de la saga:</p>
							<ul>
								<li><strong>Todas las batallas de DG, DBZ y DBGT</strong>
								</li>
								<li>Historias alternas a las del anime</li>
								<li>Nuevo modo de combate</li>
								<li>DLC's gratis los dos primeros meses</li>
								<li>¡La saga de Black como contenido descargable en Diciembre!</li>
								<li>+40 personajes jugables</li>
							</ul>
							<p>Ningún juego de Dragon Ball ha tenido tantos elementos que a los fans de unos de los ánimes más aclamados por el público les encanta. Consíguelo en los siguientes links: <a href="#">GamePlanet</a>, <a href="#">Gamers</a></p>
                        </div>
                        <div class="col-md-6">
                            <%= image_tag("goku f4 veneta ssb.jpg", :alt => "Goku-Vegeta", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
                        </div>
                <!-- /Sección Games -->        
                </div>
                <!-- /.row -->
			<!-- /Sección Artículos -->
            </section>              