<!-- si se esta registrado se vera el slide pero dentro del yield(dentro de la pagina a la que se invoca, solo en la de inicio) -->
<%= render 'layouts/cbslide' if usuario_signed_in? %>

<!-- Sección Artículos -->
<section class="row col-xs-12 articles">
    <% cont = 1 %>
    <% @iarticulos.each do |articulo| %>
    <div class="col-xs-12 col-sm-6 col-md-4 divcol">
        <%= link_to articulo do %><h3><%= articulo.titulo %></h3><% end %>
        <div class="content">
            <p>
              <%=raw articulo.intro %>
            </p>
            <%= link_to articulo do %><%= image_tag(articulo.imagen_previa, class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %><% end %>
            <br />
            <pre>Creado por: <b><%= articulo.usuario.nickname %></b> | <i class="fa fa-diamond"> <%= articulo.like %> </i> <!--%= rand(1..100) %--><!-- %= articulo.updated_at.strftime("%d/%m/%Y %I:%M%p") %--></pre>
        </div>
    </div>
      <% if (cont % 2) == 0 && cont!=6 %>
        <div class="clearfix visible-sm-block"></div>
      <% elsif (cont % 3) == 0 %>
        <div class="clearfix visible-lg-block"></div>
      <% elsif (cont % 6) == 0 %>
        <div class="clearfix visible-lg-block"></div>
      <% end %>
      <% cont = cont + 1 %>
    <% end %>

    <!-- Sección Games -->
    <div class="col-lg-offset-0 col-lg-12 row hidden-sm hidden-xs">
        <div class="col-lg-12">
            <h2 class="page-header">¡El juego del Mes!</h2>
        </div>
        <div class="content col-md-6">
            <p>Dragon Ball Xenoverse 2 es el juego perfecto si eres fan de la saga:</p>
            <ul>
                <li><strong>Todas las batallas de DG, DBZ y DBGT</strong>
                </li>
                <li>Historias alternas a las del anime</li>
                <li>Nuevo modo de combate</li>
                <li>DLC's gratis los dos primeros meses</li>
                <li>¡La saga de Black como contenido descargable en Diciembre!</li>
                <li>+40 personajes jugables</li>
            </ul>
            <p>Ningún juego de Dragon Ball ha tenido tantos elementos que a los fans de unos de los ánimes más aclamados por el público les encanta. Consíguelo en los siguientes links: <a href="#">GamePlanet</a>, <a href="#">Gamers</a></p>
        </div>
        <div class="col-md-6">
            <%= image_tag("goku f4 veneta ssb.jpg", :alt => "Goku-Vegeta", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
        </div>
    <!-- /Sección Games -->        
    </div>
<!-- /Sección Artículos -->
</section>              