<div class="container-fluid perfil">
<!-- Heading Row -->    
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <%= image_tag("900x350.png", :alt => "Portada Default", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-12 col-lg-4">
                <h1><%= @usuario.nombre_completo %><small> <%= @usuario.nickname %></small></h1><br>
                <span class="usuario-datos">
                  <%=  @usuario.created_at.strftime("Usuario desde: %d/%m/%Y")%><br>
                  <i class="fa fa-commenting-o" aria-hidden="true"></i> Artículos creados: <%=  @articulos.count %><br>
                  <i class="fa fa-users" aria-hidden="true"></i> Seguidores: <%=  @usuario.articulos.count %><br>
                </span>
                <%= link_to home_path, class: "btn btn-small btn-primary" do %>
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> Seguir                
                <% end %>
                <!--a class="btn btn-primary btn-md" href="#">Seguir contenido</a-->
                <br/><br/>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <div class="row">
          <!-- Descripción corta del perfil... Maximo 500 caracteres -->
                <p>
                Aquí podrás escribir una descrición corta de ti, tu perfil o poner simplemente lo que tú quieras! Recuerda que esto será visible a todas aquellas personas que visiten tu perfil.
                </p>
                <p>
                ☯Sic parvis magna☯
                </p>
        </div>

        <hr>


        <!-- Quote de Perfil-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info text-center">
                    <div class="panel-body">
                    <p>La grandeza proviene de pequeños comienzos.</p>
                    <cite>Sir Francis Dake.</cite>
                </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Heading 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Heading 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    <!-- /.container -->
</div>

<hr>

<% if @articulos.size>0 %>
<div id="bodypost" class="row marketing">
<% @articulos.each do |articulo| %>
  <div class="col-lg-6 clearfix">
    <div class="panel panel-primary">
      <!-- Default panel contents -->


      <div class="panel-heading">
          <% if usuario_signed_in? %>
              <% if articulo.usuario_id == current_usuario.id %>
              <div class="row container-fluid">
                <div class="pull-right">
                  <div class="dropdown">
                      <i class="fa fa-cogs  dropdown-toggle" id="post-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"">
                        <span class="caret"></span>
                      </i>
                    <ul class="dropdown-menu post-actions" aria-labelledby="post-actions">
                      <li>                              
                        <%= link_to edit_articulo_path(articulo) do%> 
                          <i class="fa fa-pencil"> Editar</i>
                        <% end %>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li>                              
                        <%= link_to articulo, method: :delete, data: {confirm: "¿Estás seguro de borrar este articulo?"} do %>
                          <i class="fa fa-trash"> Eliminar</i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>            
                </div>            
              <% end %>
          <% end %>
          
          <div class="row container-fluid post">
            <%= link_to "articulos/#{articulo.url}" do%>
              <h4><%= articulo.titulo %></h4>
            <% end %>
            <br>
              <div class="pull-left">
                Hace <%= time_ago_in_words(articulo.created_at) %> por <%= link_to "/#{articulo.usuario.nickname}" do%>
                <%= articulo.usuario.nombre_completo%>
                <% end %>
              </div>  
          </div>
      </div>






          <div class="panel-body">
            <p><%= truncate(articulo.contenido.html_safe, :length => 250) %></p>
              <% if (articulo.contenido.length > 250) %>
                <%= link_to "Ver más", articulo%>
              <% end %>
          </div>
          <div class="panel-footer">
            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Me gusta</a>
            
            <% if !articulo.like.nil? %>
              <% if articulo.like > 0 %>
                <span class="pull-right"><i class="fa fa-diamond" aria-hidden="true"> <%= articulo.like%></i><span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
</div>
<!--%= will_paginate @articulo %-->
<div class="clearfix visible-sm-block"></div>
<% else %>
  <div class="center">
    <div class="panel panel-primary">
      <div class="panel-body">
        <p> <i class="fa fa-frown-o" aria-hidden="true"></i> Este bot aún no tiene artículos.</p>
      </div>
    </div>
  </div>
<%end%>