</div>
<div class="panel-body">
  
<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= f.hidden_field :usuario_id, value: current_usuario.id %>
  

  <div class="field form-group">
    <%= f.label :titulo %>
    <%= f.text_field :titulo, class: 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= f.label :contenido %>
    <p class="emoji-picker-container">
      <%= f.text_field :contenido, class: 'form-control', data: { emojiable: true } %>
    </p>
    <!--%= f.text_area :contenido, class: 'form-control'  %-->
  </div>

  <div class="field form-group">
    <%= f.label :likes %>
    <%= f.number_field :likes, class: 'form-control'  %>
  </div>

  <div class="actions">
    <%= f.submit "Generar post", class: 'btn btn-primary'  %>
  </div>
<% end %>

