<p id="notice"><%= notice %></p>

<div class="panel panel-default">  
  <div class="panel-heading">
    <h2>Todos los Posts</h2>
    <%= link_to 'Crear post', new_post_path, class: "btn btn-primary" %>
  </div>
  <div class="panel-body">
    <p></p>
  </div>

<div class="row marketing">
<% @posts.each do |post| %>
  <div class="col-lg-6 post">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
      <%= link_to post do%>
        <h4><%= post.titulo %></h4>
      <% end %>
        <code><%= time_ago_in_words(post.created_at) %> ago</code>
        <i class="fa fa-thumbs-o-up" aria-hidden="true"><%= post.likes%></i>
      </div>
      <div class="panel-body">
        <p><%= post.contenido %></p>
      </div>
      <div class="panel-footer">
      <%= link_to edit_post_path(post) do%> 
        <i class="fa fa-pencil"> Editar</i>
      <% end %>
      <%= link_to post, method: :delete, data: {confirm: "¿Estás seguro de borrar este post?"} do %>
        <i class="fa fa-trash"> Eliminar</i>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
