<br>
<br>
<div class="panel panel-default">  
  <div class="panel-heading">
    <div class="row container-fluid">
      <div class="pull-left">
        <h2>Posts de usuarios</h2>
      </div>
      <div class="pull-right">
      <%= link_to new_post_path, class: "btn btn-primary btn-sm", alt: "Nuevo post" do%>
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Nuevo post
      <% end %>
    </div>
    </div>
  </div>
  <div class="panel-body">
    <p></p>
  </div>

  <div class="center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>

  <!-- marketing -->
  <!--div class="grid row marketing"-->
    <!-- masonry -->
    <div class="grid-sizer"></div>
    <div class="container-fluid transitions-enabled centered clearfix masonry">

    <br>
    <div class="panel panel-primary">
    <% @posts.each do |post| %>
      <div class="col-lg-12 post">
      <!-- Panel primary -->
          <!-- Panel heading -->
          <div class="panel-heading">
          <% if usuario_signed_in? %>
              <% if post.usuario_id == current_usuario.id %>
            <div class="row container-fluid">
              <div class="pull-right">
                <div class="dropdown">
                    <i class="fa fa-cogs  dropdown-toggle" id="post-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"">
                      <span class="caret"></span>
                    </i>
                  <ul class="dropdown-menu" aria-labelledby="post-actions">
                    <li>
                      
                    <%= link_to edit_post_path(post) do%> 
                        <i class="fa fa-pencil"> Editar</i>
                      <% end %>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      
                      <%= link_to post, method: :delete, data: {confirm: "¿Estás seguro de borrar este post?"} do %>
                        <i class="fa fa-trash"> Eliminar</i>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>            
            </div>
              <% end %>
            <% end %>
            <div class="row container-fluid">
              <div class="pull-left">
                <%= link_to post do%>
                  <h4><%= post.titulo %></h4>
                <% end %>                
              </div>
            </div>
            <div class="row">
                <!--code><%= time_ago_in_words(post.created_at) %> ago</code> por <strong><%= post.usuario.nickname%></strong-->
                Hace <%= time_ago_in_words(post.created_at) %> por <strong><%= link_to post.usuario.nickname, post.usuario.nickname %></strong>            
            </div>
          </div>
          <!-- end Panel heading -->
          <!-- Panel body -->
          <div class="panel-body">
            <!-- Contenido solo muestra todo si es menor a 250 caracteres -->
            <p><%= content_with_emoji(truncate(post.contenido.html_safe, :length => 250)) %></p>
            <% if (post.contenido.length > 250) %>
              <%= link_to "Ver más", post%>
            <% end %>
          </div>
          <!-- end Panel body -->
          <!-- Panel footer -->
          <div class="panel-footer">
            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Me gusta</a>

            <!--%= link_to posts_like_path, controller: "posts", action: "like", id: @post do%>
              <button type="button" class="btn btn-primary" >Like! <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> </button>
            < % end %-->
            <!--%= link_to "Me gusta", { :action => "like" }%-->

            <!--%= button_to 'Me gusta', {:controller => "posts", :id => post.id, :action => "like", params: { post_id: post.id}}, {:method=>:post}  %-->
            
            <% if !post.likes.nil? %>
              <% if post.likes > 0 %>
                <span class="pull-right"><i class="fa fa-diamond" aria-hidden="true"> <%= post.likes%></i><span>
              <% end %>
            <% end %>
          </div>
          <!-- End Panel footer -->
        </div>
        <!-- end Panel primary -->
      <% end %>
      </div>
    </div>
    <!-- end masonry -->
  <!--/div-->
  <!-- end marketing -->
  <div class="center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>