<br>
<br>
<div class="panel panel-default">  
  <div class="panel-heading">
    <h2>Timeline de usuarios</h2>
  </div>
  <div class="panel-body">
    <p></p>
  </div>

  <div class="pull-right">
    <%= link_to new_post_path, class: "btn btn-md btn-primary", alt: "Nuevo post" do%>
      <i class="fa fa-plus" aria-hidden="true"> </i> Crear post
    <% end %>
  </div>
  <div class="center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>

  <!-- marketing -->
  <!--div class="grid row marketing"-->
    <!-- masonry -->
    <div class="grid-sizer"></div>
    <div class="container-fluid transitions-enabled centered clearfix masonry">
    <% @posts.each do |post| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        
      <!-- Panel primary -->
        <div class="panel panel-primary">
          <!-- Panel heading -->
          <div class="panel-heading">
          <%= link_to post do%>
            <h4><%= post.titulo %></h4>
          <% end %>
            <!--code><%= time_ago_in_words(post.created_at) %> ago</code> por <strong><%= post.usuario.nickname%></strong-->
            Hace <%= time_ago_in_words(post.created_at) %> por <strong><%= link_to post.usuario.nickname, post.usuario.nickname %></strong>
          </div>
          <!-- end Panel heading -->
          <!-- Panel body -->
          <div class="panel-body">
            <!-- Contenido solo muestra todo si es menor a 250 caracteres -->
            <p><%= content_with_emoji(truncate(post.contenido.html_safe, :length => 250)) %></p>
            <% if (post.contenido.length > 250) %>
              <%= link_to "Ver más", post%>
            <% end %>
          </div>
          <!-- end Panel body -->
          <!-- Panel footer -->
          <div class="panel-footer">
            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Me gusta</a>
            <% if usuario_signed_in? %>
              <% if post.usuario_id == current_usuario.id %>
                <%= link_to edit_post_path(post) do%> 
                  <i class="fa fa-pencil"> Editar</i>
                <% end %>
                <%= link_to post, method: :delete, data: {confirm: "¿Estás seguro de borrar este post?"} do %>
                  <i class="fa fa-trash"> Eliminar</i>
                <% end %>
              <% end %>
            <% end %>

            <span class="pull-right"><i class="fa fa-diamond" aria-hidden="true"> <%= post.likes%></i><span>
          </div>
          <!-- End Panel footer -->
        </div>
        <!-- end Panel primary -->
      </div>
    <% end %>
    </div>
    <!-- end masonry -->
  <!--/div-->
  <!-- end marketing -->
  <div class="center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>