

<p id="notice"><%= notice %></p>







<br>
<br>
<div class="cotainer">
<!-- Heading Row -->    
<strong><%= @post.usuario.nombre_completo%></strong></pre>
        <div class="row">
            <div class="col-md-12">
                <%= @post.titulo %>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-12">
                <p><%= @post.contenido %></p>
                <hr>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>
        <p>comentarios</p>

        likes: <%= @post.likes %>

</div>


<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Regresar', posts_path %>