<br>
<br>


<p id="notice"><%= notice %></p>

<div class="well">
	<!-- Heading Row -->    
	<div class="row">
		<div class="col-md-12 col-md-offset-0">
			<div class="panel panel-default">
				<div class="panel-heading center">
					<% if usuario_signed_in? %>
              			<% if @post.usuario_id == current_usuario.id %>
              			<div class="row container-fluid">
					      <div class="pull-right">
					        <div class="dropdown">
					            <i class="fa fa-cogs  dropdown-toggle" id="post-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"">
					              <span class="caret"></span>
					            </i>
					          <ul class="dropdown-menu post-actions" aria-labelledby="post-actions">
					            <li>
					              
					            <%= link_to edit_post_path(@post) do%> 
					                <i class="fa fa-pencil"> Editar</i>
					              <% end %>
					            </li>
					            <!--li role="separator" class="divider"></li-->
					            <li>
					              
					              <%= link_to @post, method: :delete, data: {confirm: "¿Estás seguro de borrar este post?"} do %>
					                <i class="fa fa-trash"> Eliminar</i>
					              <% end %>
					            </li>
					          </ul>
					        </div>
					      </div>            
					     </div>            
              			<% end %>
            		<% end %>
					<div class="row container-fluid post">
						<h3><%= @post.titulo %></h3>
						<br>
		    	    	<div class="pull-left">
		    	    		Hace <%= time_ago_in_words(@post.created_at) %> por <%= link_to "/#{@post.usuario.nickname}" do%>
		    	    		<%= @post.usuario.nombre_completo%>
		    	    		<% end %>
		    	    	</div>	
		    	    	<div class="pull-right">
							<%= social_share_button_tag(@post.titulo, :allow_sites => %w(twitter facebook google_plus tumblr email linkedin)) %>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-body post">
                <p><%= content_with_emoji(@post.contenido) %></p>
	    	    <hr>
		        <p>Comentarios</p>	
            </div>

            <div class="panel-footer">
            	<div class="row container-fluid">
					<div class="pull-left">
						<%= link_to posts_path do %>
							<i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar | 
						<%end%>
						 <code><%= raw('Editado') if @post.created_at!=@post.updated_at %> <%= @post.updated_at.strftime("%d/%m/%Y a las  %I:%M%p") %></code>
					</div>
					<div class="pull-right">
						<% if !@post.likes.nil? %>
					      <% if @post.likes > 0 %>
					        <span class="pull-right"><i class="fa fa-diamond" aria-hidden="true"> <%= @post.likes%></i><span>
					      <% end %>
					    <% end %>
					</div>
				</div>
			</div>
            <!-- /.col-md-4 -->
        </div>
	</div>
</div>