<br>
<br>


<p id="notice"><%= notice %></p>

<div class="well">
	<!-- Heading Row -->    
	<div class="row">
		<div class="col-md-12 col-md-offset-0">
			<div class="panel panel-default">
				<div class="panel-heading center">
					<strong><%= @post.titulo %></strong>
				</div>

			<div class="panel-body post">
                <%= content_with_emoji(@post.contenido) %>
        		likes: <%= @post.likes %>
	    	    <hr>
	    	    <code><%= time_ago_in_words(@post.created_at) %> ago por <%= @post.usuario.nombre_completo%></code>
		        <br>
		        comentarios
            </div>
                <hr>

                <div class="panel-footer">
					<% if @post.usuario == current_usuario %>
						<%= link_to edit_post_path(@post) do %> 
						<i class="fa fa-pencil" aria-hidden="true"></i> Editar
						<%end%>
					<%end%>
					<%= link_to posts_path do %>
						<i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar
					<%end%>
				</div>
            <!-- /.col-md-4 -->
        </div>
</div>
</div>
</div>