<br>
<br>


<p id="notice"><%= notice %></p>

<div class="well">
	<!-- Heading Row -->    
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading center">
					<strong><%= @post.usuario.nombre_completo%></strong>
				</div>

			<div class="panel-body">
                <h2><%= @post.titulo %></h2>
                <p><%= @post.contenido %></p>
        		likes: <%= @post.likes %>
	    	    <hr>
		        <p>comentarios</p>
            </div>
                <hr>

                <div class="panel-footer">
					<% if @post.usuario == current_usuario %>
						<%= link_to edit_post_path(@post) do %> 
						<i class="fa fa-pencil" aria-hidden="true"></i> Editar
						<%end%>
					<%end%>
					<%= link_to posts_path do %>
						<i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar
					<%end%>
				</div>
            <!-- /.col-md-4 -->
        </div>
</div>
</div>
</div>