<!-- Aside -->
<aside id="extra-content">
	<h3 class="text-info"><small><i class="fa fa-link"></i><span style="vertical-align: middle;"></span></small> Sitios útiles</h3>
	<p>
		Te mostramos una lista de sitios útiles en los cuales también podrás obtener conocimientos sobre programación en diferentes lenguajes y plataformas
	</p>
	<ul class="categorias">
		<a href="http://stackoverflow.com" target="_blank"><li><i class="fa fa-globe"></i> stackoverflow.com</li></a>
		<a href="http://ruby-doc.org" target="_blank"><li><i class="fa fa-globe"></i> ruby-doc.org</li></a>
		<a href="http://primefaces.org" target="_blank"><li><i class="fa fa-globe"></i> primefaces.org</li></a>
		<a href="http://rubygems.org" target="_blank"><li><i class="fa fa-globe"></i> rubygems.org</li></a>
		<a href="http://github.com" target="_blank"><li><i class="fa fa-globe"></i> github.com</li></a>
        <a href="http://getbootstrap.com" target="_blank"><li><i class="fa fa-globe"></i> getbootstrap.com</li></a>
        <a href="http://jquery-plugins.net" target="_blank"><li><i class="fa fa-globe"></i> jquery-plugins.net/</li></a>
		<a href="http://codyhouse.com" target="_blank"><li><i class="fa fa-globe"></i> codyhouse.com</li></a>
		<a href="http://rubinmz.com" target="_blank"><li><i class="fa fa-globe"></i> rubinmz.com</li></a>
	</ul>
	
	<!-- Últimos Artículos -->
	<section>
		<h3 class="text-info"><small><i class="fa fa-diamond"></i></small> Últimos artículos</h3>
		<ul>
		</ul>
		
		<% @uarticulos.each do |uarticulo| %>
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<%= image_tag(uarticulo.imagen_previa,:alt => uarticulo.titulo,:title=> uarticulo.titulo,class: "img-responsive img-portfolio img-hover", :style => "width:100%;height:auto;") %>
				</div>
				<div class="col-lg-7 col-md-12 col-sm-12">
						<%= link_to "http://#{ApplicationRecord::RUTA}/articulos/#{uarticulo.url}" do %>
							<%= truncate(uarticulo.intro, :length => 150) %>
						<% end %>
				</div>
			</div>
			<hr>
		<% end %>			

		<h3 class="text-info"><small><i class="fa fa-tags"></i></small> Etiquetas </h3>
			<ul class="tags">
				<li><%= link_to busqueda_path(:busqueda => "ruby on rails"), :class => "fsNon", :method => :post do %><code>Ruby on Rails</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "JAVA"), :class => "fsPair", :method => :post do %><code>JAVA</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "HTML5"), :class => "fsNon", :method => :post do %><code>HTML5</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "CSS3"), :class => "fsPair", :method => :post do %><code>CSS3</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "jQuery"), :class => "fsNon", :method => :post do %><code>jQuery</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "CRUD"), :class => "fsPair", :method => :post do %><code>CRUD</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "ISTQB"), :class => "fsNon", :method => :post do %><code>ISTQB</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "Selenium"), :class => "fsPair", :method => :post do %><code>Selenium</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "Primefaces"), :class => "fsNon", :method => :post do %><code>Primefaces</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "Video juegos"), :class => "fsPair", :method => :post do %><code>Video Juegos</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "Codegirls"), :class => "fsNon", :method => :post do %><code>Codegirls</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "Ruby"), :class => "fsPair", :method => :post do %><code>Ruby</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "Base de datos"), :class => "fsNon", :method => :post do %><code>Base de datos</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "Demos"), :class => "fsPair", :method => :post do %><code>Demos</code><%end%></li>
				<li><%= link_to busqueda_path(:busqueda => "PS4"), :class => "fsNon", :method => :post do %><code>PS4</code><%end%></li>
			</ul>
	<!-- /Últimos Artículos -->
	</section>
	
	<!-- Contenido por Carpetas -->
	<section id="categorias">
		<h3 class="text-info"><small><i class="fa fa-folder"></i></small> Contenido por categorías</h3>
		<p>
			Puedes acceder a los artículos por su categoría.
		</p>
		<ul class="categorias">
			<li>
				<%= link_to categoria_path("ruby") do %>
				<i class="fa fa-folder-open"></i> Ruby [ <%= @articulosRuby %> ]
				<% end %>
			</li>
			<li>
				<%= link_to categoria_path("java") do %>
				<i class="fa fa-folder-open"></i> Java [ <%= @articulosJava %> ]
				<% end %>
			</li>
			<li>
				<%= link_to categoria_path("testing") do %>
				<i class="fa fa-folder-open"></i> Testing [ <%= @articulosTesting %> ]
				<% end %>						
			</li>
			<li>
				<%= link_to categoria_path("web") do %>
				<i class="fa fa-folder-open"></i> Web [ <%= @articulosWeb %> ]
				<% end %>
			</li>
			<li>
				<%= link_to categoria_path("tecnologia") do %>
				<i class="fa fa-folder-open"></i> Tecnología [ <%= @articulosTecnologia %> ]
				<% end %>
			</li>
			<li>
				<%= link_to categoria_path("games") do %>
				<i class="fa fa-folder-open"></i> Video Games [ <%= @articulosGames %> ]
				<% end %>
			</li>
			<li>
				<%= link_to categoria_path("codegirls") do %>
				<i class="fa fa-folder-open"></i> Codegirls [ <%= @articulosCodegirls %> ]
				<% end %>
			</li>
		</ul>
	<!-- /Contenido por Categorías -->
	</section>
	
	<!-- Redes Sociales -->
	<section>
		<h3 class="text-info"><small><i class="fa fa-heart"></i></small> Redes Sociales</h3>
		<p>
			¡No te olvdes de seguirnos en nuestras redes sociales Facebook, Twitter y suscribirte en nuestro canal de YouTube, publicamos más contenido en ellas! ¡No te arrepentirás!
		</p>
		
		<div class="center">
			
		<!-- Botones Twitter -->
		<a href="https://twitter.com/intent/tweet?screen_name=DLVNGN_" class="twitter-mention-button" data-show-count="false">Tweet to @DLVNGN_</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		<a href="https://twitter.com/DLVNGN_" class="twitter-follow-button" data-lang="es"  data-show-count="false">Follow @DLVNGN_</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

		<% if current_page?(inicio_path) %>
			<!-- Timeline Twitter -->
			<a class="twitter-timeline"  data-chrome="nofooter"  width="100%" height="1000" href="https://twitter.com/DLVNGN_">Tweets by DLVNGN_</a> 
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			<!-- Termina Timeline Twitter -->
		<% end %>
		<div class="row">
		<script src="https://apis.google.com/js/platform.js"></script>
		<script>
			function onYtEvent(payload) {
			if (payload.eventType == 'subscribe') {
					// Add code to handle subscribe event.
				} else if (payload.eventType == 'unsubscribe') {
					// Add code to handle unsubscribe event.
				}
				if (window.console) { // for debugging only
					window.console.log('YT event: ', payload);
				}
			}
		</script>
		<!-- Suscribir Youtube -->
		<div class="g-ytsubscribe" data-channel="codebots.net" data-channelid="UC5poNV3aRdiGSA205v4o9jQ" data-layout="default" data-theme="dark" data-count="default" data-onytevent="onYtEvent"></div>
		<!-- Video Nuevo Youtube -->
		</div>
		<iframe width="90%" height="315" style="margin-left:5%" src="https://www.youtube.com/embed/1UICdINzlXk" frameborder="0" allowfullscreen></iframe>
		</div>                    
	<!-- /Redes Sociales -->
	</section>
<!-- Aside -->
</aside>