<!-- Carousel No se mostrará cuando el tamaño sea- XS-->
<div id="cb-slide" style="padding-top: 80px; margin-top:-50px;" class="carousel slide hidden-xs hidden-sm cbslide" data-ride="carousel">
    <!-- Botones Prev Next -->
	<ol class="carousel-indicators">
		<li data-target="#cb-slide" data-slide-to="0" class="active"></li>
		<li data-target="#cb-slide" data-slide-to="1"></li>
		<li data-target="#cb-slide" data-slide-to="2"></li>
		<li data-target="#cb-slide" data-slide-to="3"></li>
	</ol>
	<!-- IMAGENES -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
		<%= image_tag("VegetaKing-dev.jpg", :alt => "First slide", class: "img-responsive", :style => "width:100%;") %>
			<div class="container">
				<div class="carousel-caption">
				  <h3 class="hidden-xs">Bienvenido</h3>
				  <p class="hidden-xs">
				  En Codebots.net puedes ver tutoriales de lenguajes de programación como Ruby y Java, las mejores prácticas en el maquetado de estructuras web con HTML5 y CSS3.
				  </p>
				  <p>
				  <%= link_to "¡Regístrate ahora!", registrar_path, class: "btn btn-sm btn-info"%>
				  </p>
				</div>
			</div>
		</div>
		<div class="item">
		<%= image_tag("mckingtest-dev.jpg", :alt => "Second slide", class: "img-responsive", :style => "width:100%;") %>
			<div class="container">
				<div class="carousel-caption">
				  <h3 class="hidden-xs">Software Testing</h3>
				  <p class="hidden-xs">Adéntrate en el mundo de las Pruebas de Software con esta serie de tutoriales.</p>
				  <p>
				     <%= link_to "Ir a turorial", busqueda_path(:busqueda => "McKingTest"), :method => :post, class: "btn btn-sm btn-info"%>
				  </p>
				</div>
			</div>
		</div>
		<div class="item">
		<%= image_tag("deku.jpg", :alt => "Fourth  slide", class: "img-responsive", :style => "width:100%;") %>
			<div class="container">
				<div class="carousel-caption">
				  <h3 class="hidden-xs">Midoriya Izuku.</h3>
				  <p class="hidden-xs">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				  <p><a class="btn btn-sm btn-info" href="#" role="button">Reseña & Gameplay</a></p>
				</div>
			</div>
		</div>
		<div class="item">
		<%= image_tag("allmightdeku.jpg", :alt => "Boku no Hero 2", class: "img-responsive", :style => "width:100%;") %>
			<div class="container">
				<div class="carousel-caption">
				  <h3 class="hidden-xs">Boku no Hero 2.</h3>
				  <p class="hidden-xs">Si eres un fanático de Deku y All Might sigue las reseñas de los nuevos capítulos de esta temporada.</p>
				  <p><a class="btn btn-sm btn-info" href="#" role="button">Ver imágenes</a></p>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#cb-slide" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#cb-slide" data-slide="next">
        <span class="icon-next"></span>
    </a>
<!-- /.carousel -->
</div>

<!--div class="container">
  <h2>Modal Example</h2>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#flashModal">Open Modal</button>
  <div class="modal fade" id="flashModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title modal-s">Post Creado</h4>
        </div>
        <div class="modal-body">
          <p>Has creado tu post satisfactoriamente.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>
</div-->