<nav class="navbar navbar-default navbar-fixed-top navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <%= link_to inicio_path, class: "navbar-brand" do %>
                            <%= image_tag("brand.png", :alt => "codebots.net", class: "img-responsive", :style => "width:45px;padding-top:2px; margin-top:-20px;") %>
                        <% end %>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                            <span class="sr-only">Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <%= link_to inicio_path, class: "navbar-brand codebots" do %>
                            codebots.<small>net</small>
                        <% end %>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="navbar-1">
                        <ul class="nav navbar-nav">
                        <!-- class="active" -->
                            <li>
                            <%= link_to inicio_path do %>
                                    <i class="fa fa-home"></i><span style="vertical-align: middle;"> Inicio</span>
                                <% end %>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="fa fa-code"></i><span style="vertical-align: middle;"> Tutoriales </span>
                                <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Ruby</a></li>
                                    <li><a href="#">Java</a></li>
                                    <li><a href="#">Testing</a></li>
                                    <li class="divider"><a href="#"></a></li>
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">Todos</a></li>
                                </ul>
                            </li>
                            <li>
                            <%= link_to timeline_path do %>
                                <i class="fa fa-picture-o"></i><i class="fa fa-commenting-o"></i><span style="vertical-align: middle;"> Timeline</span>
                            <% end %>
                            </li>
                        </ul>
                        
                        <form action="" class="navbar-form pull-left hidden-xs hidden-sm" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Buscar" />
                            </div>
                        </form>

                        <form action="" class="navbar-form navbar-left visible-xs" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Buscar" />
                            </div>
                        </form>

                        
                        <ul class="nav navbar-nav navbar-right pull-right hidden-xs">
                            <% if usuario_signed_in? %>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">    
                                         <i class="fa fa-user-circle-o" aria-hidden="false"></i> <%= current_usuario.nickname%> <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><%= link_to raw('<i class="fa fa-diamond" aria-hidden="true"></i> Mi Perfil'), home_path %></li>
                                        <li><%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i> Editar cuenta'), edit_usuario_registration_path %></li>
                                        <li><%= link_to raw('<i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar sesion'), destroy_usuario_session_path, method: :delete %></li>
                                    </ul>
                                </li>
                            <% else %>
                                <li>
                                    <%= link_to iniciar_path do %>
                                        <i class="fa fa-sign-in"></i><span style="vertical-align: middle;"> Iniciar sesion</span>
                                    <% end %>
                                </li>
                            <%end%>
                            <!--li><a href="#">Sign up</a></li-->
                        </ul>

                        <ul class="nav navbar-nav navbar-right visible-xs">
                            <% if usuario_signed_in? %>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">    
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= current_usuario.nickname%> <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><%= link_to raw('<i class="fa fa-diamond" aria-hidden="true"></i> Mi Perfil'), home_path %></li>
                                        <li><%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i> Editar cuenta'), edit_usuario_registration_path %></li>
                                        <li><%= link_to raw('<i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar sesion'), destroy_usuario_session_path, method: :delete %></li>
                                    </ul>
                                </li>
                            <% else %>
                                <li>
                                   <%= link_to iniciar_path do %>
                                        <i class="fa fa-sign-in"></i><span style="vertical-align: middle;"> Iniciar sesion</span>
                                    <% end %>
                                </li>                         
                            <%end%>
                            <!--li><a href="#">Sign up</a></li-->
                        </ul>
                    </div>
				</div>
			<!-- /NAV -->
            </nav>  
        <!-- /HEADER -->    
        </header>