<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, user-scalable=no initial-scale=1"> 
    <title>Codebots.net</title>
    <meta name="description" content="Website to show a few tutorials about web programming, the the world of Testing and learn the new stuff in this world." />
    <meta name="keywords" content="codebots.net, codebots, net, rubinmz, programming, ruby, css3 java, html5, javascript, jquery, rubyonrails, memes, blog, foro, fun, funny, tecnologia" />
    <meta name="author" content="Codebots" />
    <%= favicon_link_tag 'diamond-512f.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <!-- Si no se esta registrado, se verá el slide grande -->
    <%= render 'layouts/cbslide' if (current_page?(inicio_path) || current_page?(root_path)) && !usuario_signed_in? %>
  <!-- Contenido Principal -->
  <!-- Sólo se pondrá el margentop cuando se este logeado-->
    <div class="container-fluid well" style="<%= "margin-top: 50px"  if 1==2 %>">
    
    <!--%= render :partial => 'flash', :flash => flash %-->


  <!--div class="container">
    < % flash.each do |type, message| %>
      < % if flash[:notice] %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hiden="true">x</button>
          < %= flash[:notice]%>
        </div>
        <div class="modal fade" id="flashModal" role="dia class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-s">Post Creado</h4>
              </div>
              <div class="modal-body">
                <p>< %= flash[:notice]%></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
            
          </div>
        </div>
      < %end%>

      < % if flash[:alert] %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hiden="true">x</button>
          < %= flash[:alert]%>
        </div>
      < %end%>

      
      <div class="alert < %= flash_class type %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hiden="true">x</button>
        < %= message %>
      </div>
    < %end%>      
  </div-->

  <!--%= render 'layouts/flash' %-->

      <section class="col-xs-12 col-sm-8 col-md-7 col-md-offset-1">
          <%= yield %>
    	</section>
    	<section style="margin-top: 20px;"  class="col-xs-12 col-sm-4 col-md-3 center-block">
          <%= render 'layouts/aside' %>
    	</section>
	<!-- /Contenido Principal -->
    </div>
    <%= render 'layouts/footer' %>



    <!-- Modal >
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div-->

  </body>	
</html>
